body {
    font-family: 'Jaro', 'JetBrains Mono', sans-serif; 
    background-color: black;
    width: auto; 
    height: auto;
    font-size: large;
}

header {
    padding: 1px;
    text-align: center;
    font-size: 25px;
    color: rgb(233, 233, 233);
    width: auto;
    background-color: rgb(64, 179, 191);
    font-family: 'Jaro', 'JetBrains Mono', sans-serif; 
}

nav {
    float: center;
    text-align: center;
    width: auto;
    height: 60px;
    background-color: #000000;
    padding: 2px;
    background-color: rgb(78, 77, 77);
}

article {
    float: center;
    padding: 100px;
    width: auto;
    background-color: rgb(11, 12, 12);
    height: 50.5vh;
    color: white;
    text-align: center;
    background-image: url(1061.png);
    font-family: 'Jaro', 'JetBrains Mono', sans-serif; 
}

.article1 {
    float: center;
    padding: 1px;
    width: auto;
    height: auto;
    color: white;
    text-align: center;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    padding: 1px;
    text-align: center;
    background-color: rgb(78, 77, 77);
    font-size: 10px;
    font-family: 'Jaro', 'JetBrains Mono', sans-serif; 
}

img {
    display: block;
    margin-left: 10px;
    margin-bottom: -25px;
}

.button {
    background-color: #7d0d94; 
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25%;
    font-family: 'Jaro', 'JetBrains Mono', sans-serif; 
}

.button1 {
    background-color: rgb(119, 62, 212); 
    color: rgb(255, 255, 255); 
    border: 3px solid #000000;
}

.button1:hover {
    background-color: #861bb8;
    color: white;
}

.button2 {
    background-color: rgb(119, 62, 212); 
    color: rgb(255, 255, 255); 
    border: 3px solid #000000;
    position: fixed;
    top: 15px;
    left: 15px;
}

.button2:hover {
    background-color: #861bb8;
    color: white;
}

.column {
    float: left;
    width: 30%;
    padding: 1px;
    height: 300px; 
    border: 1px;
    margin: 20px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 100%) {
    .column {
        width: auto;
    }
}

